<!doctype html>
<html>
    <head>
        <title>MCHAT 0.1 beta</title>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="/static/index.js"></script>
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <script type="text/html" id="messageTemplate">
            <p data-content="content"><i data-content="time"></i><b data-content="author"></b></p>
        </script>
        <script data-content-append="true" type="text/html" id="statusTemplate">
            <p data-content-append="status" style="color:red;"></p>
        </script>
        <p>Logged in as {{username}}</p>
        <div id="messages">
            {#{% for entry in entrys %}
            <p><i>{{entry["time"].strftime("%X %x")}}</i><b>{{entry["nick"]}}</b>{{entry["content"]}}</p>
            {% endfor %}#}
        </div>
        <textarea rows=4 style="width:100%"></textarea>
    </body>
</html>